Piano.dproj.local
Piano.identcache
Piano.res
/Win32
Main.pas
__history/Main.pas.~9~
__history/Main.pas.~8~
__history/Main.pas.~7~
__history/Main.pas.~6~
__history/Main.pas.~5~
__history/Main.pas.~4~
__history/Main.pas.~3~
__history/Main.pas.~12~
__history/Main.pas.~11~
__history/Main.pas.~10~
