ivan_LH RCDATA "music\\ivan\\LH.txt"
ivan_LH2 RCDATA "music\\ivan\\LH2.txt"
ivan_RH RCDATA "music\\ivan\\RH.txt"
comptine_LH RCDATA "music\\comptine\\LH.txt"
comptine_RH RCDATA "music\\comptine\\RH.txt"
sviridov_LH RCDATA "music\\sviridov\\LH.txt"
sviridov_RH RCDATA "music\\sviridov\\RH.txt"
sviridov_RH2 RCDATA "music\\sviridov\\RH2.txt"
test_LH RCDATA "music\\test\\LH.txt"
test_RH RCDATA "music\\test\\RH.txt"
